/* CSS 중첩 */
/* 일반 CSS */
.parent {
  background-color: #f4a261;
  padding: 20px;
}

/* 하위(자손)선택자 */
.parent .child {
  color: white;
  font-size: 16px;
}

/* 아래와같이 중첩하면 캡슐화가 가능함 */
.parent {
  background-color: #f4a261;
  padding: 20px;
  /* 중첩시 자식을 기재할때는 관례적으로 한줄을 띄우고 입력함 */
  .child {
    color: white;
    font-size: 16px;
  }
}

.button {
  color: red;

  &:hover {
    background-color: yellow;
  }

  &::before {
    content: '콘텐츠';
  }
}
/* 중첩시 자식선택자앞에 &를 기재하면 &는 부모선택자를 의미함 */

/* 일반 CSS - 미디어쿼리 예시 */
.container {
  width: 100%;
  padding: 20px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* 중첩 CSS - 미디어쿼리 예시 */
/* 중첩시 미디어쿼리에서 선택자부분은 빠지게됨 */
.container {
  /* 모든 디바이스에 선언하는 스타일링 */
  width: 100%;
  padding: 20px;

  /* 최소 768px이상일때 적용되는 스타일링 */
  @media (min-width: 768px) {
    width: 750px;
  }
}

/* Sass와의 차이점 */
/* 아래와같이 &기호를 부모요소의 일부로 치환할 수 없다 */
.menu__list {
  &__item {
    color: green;
  }
}
