/* @layer 규칙 */
@layer module, state;

@layer module {
  body {
    background-color: skyblue;
  }

  .alert {
    background-color: darkblue;
    padding: 1em;
    color: white;
  }
  p {
    border: medium solid purple;
  }
}

@layer state {
  body {
    background-color: pink;
  }

  h1 {
    color: blue;
  }

  .alert {
    background-color: brown;
    padding: 1em;
    color: white;
  }
  p {
    border: medium solid red;
  }
}

body {
  margin: 50px;
  background: lightgray;
}

h1 {
  margin-block: 20px;
  color: green;
}

p {
  color: rebeccapurple;
}

@layer type {
  .box p {
    font-weight: 900;
    font-size: 1.3em;
    color: green;
  }
}
